gym~=0.18.3
pandas==1.2.5
matplotlib~=3.4.3
numpy~=1.19.5
stable-baselines3
git+https://github.com/angelolovatto/gym-cartpole-swingup
dill~=0.3.4
tqdm~=4.62.2
gpytorch~=1.5.1
torch
scikit-learn~=0.24.2
blitz-bayesian-pytorch
tikzplotlib